{extend name="publics/base" /}
{block name="body"}
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="">首页</a>
				</li>
				<li class="active">用户管理</li>
			</ul><!-- .breadcrumb -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					用户管理
					<small>
						<i class="icon-double-angle-right"></i>
						 编辑用户
					</small>
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal row" role="form" method="post" action="">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名 </label>

							<div class="col-sm-9">
								<input type="text" id="form-field-1" placeholder="Username" name="username" class="col-xs-10 col-sm-5" value="" required="">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮箱 </label>

							<div class="col-sm-9">
								<input type="text" id="form-field-1" placeholder="Username" name="email" class="col-xs-10 col-sm-5" value="" required="">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 密码 </label>

							<div class="col-sm-9">
								<input type="password" id="form-field-2" placeholder="Password" name="password" class="col-xs-10 col-sm-5">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 确认密码 </label>

							<div class="col-sm-9">
								<input type="password" id="form-field-2" placeholder="Password" name="confirm" class="col-xs-10 col-sm-5">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 是否启用 </label>
							<div class="col-sm-9">
								<div class="col-xs-3">
									<label>
										<input class="ace ace-switch ace-switch-7" name="status" type="checkbox">
										<span class="lbl"></span>
									</label>
								</div>
							</div>
						</div>
	
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 所属分组 </label>
							<div class="col-sm-2">
								<div class="control-group">
									<!-- 在这里展示分组信息 -->
								</div>
							</div>
						</div>
						
						<input type="hidden" name="id" value="">
						<input type="hidden" name="url" value="">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn" type="reset">
								<i class="icon-ok bigger-110"></i>
								Reset
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn btn-info" type="submit">
								<i class="icon-undo bigger-110"></i>
								Submit
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
{/block}